<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview • Pico.css</title>
    <meta name="description"
          content="A starter example with all elements and components used in Pico design system. Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/preview/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

</head>

<body>

<!-- Header -->
<header class="container" style="padding-bottom: 0">
    <hgroup>
        <h1>Hartley Ready Mix</h1>
        <h2>Configure your order below</h2>
    </hgroup>
    <hr>
</header><!-- ./ Header -->

<!-- Main -->
<main class="container" id="orderPage" style="padding-top:0">
    <section>
        <form>
            <h2>Time</h2>
            <label for="date">Date</label>
            <input type="date" id="date" name="date" required v-model="date">

            <label for="time">Requested Time </label>
            <input type="time" id="time" name="time" required v-model="time">
            <hr>

            <h2>Location</h2>
            <label for="address">Address </label>
            <textarea id="address" name="address" rows="3" required v-model="address"></textarea>

            <div style="margin-bottom: 4px">Drop a pin</div>
            <div style="margin-bottom: 16px; height: 400px">
                <div id="map" style="height: 100%"></div>
            </div>
            <hr>

            <h2>Specifications</h2>
            <label for="yards">Yards</label>
            <input type="number" step=".1" min="0" id="yards" name="yards" required v-model="yards">
            <!-- todo: add + -->
            <template v-if="yards > 10">
                <label for="spacing">Delivery Spacing (Minutes)</label>
                <input type="number" step="1" min="0" id="spacing" name="spacing" required v-model="deliverySpacing">
            </template>
            <label for="psi">PSI</label>
            <select id="psi" required v-model="psi">
                <option value="2500">2500 PSI</option>
                <option value="3000">3000 PSI</option>
                <option value="3500">3500 PSI</option>
                <option value="4000">4000 PSI</option>
                <option value="4500">4500 PSI</option>
                <option value="5000">5000 PSI</option>
                <option value="6000">6000 PSI</option>
            </select>

            <div class="grid">
                <div style="margin-bottom: 16px">
                    <label>Mix addons:</label>
                    <template v-for="(addon, code) in mixAddons">
                        <label :for="code">
                            <input type="checkbox" :id="code" :name="code" v-model="addon.value">
                            {{addon.name}}
                        </label>
                    </template>
                </div>
                <div style="margin-bottom: 16px">
                    <label>Truck addons:</label>
                    <template v-for="(addon, code) in truckAddons">
                        <label :for="code">
                            <input type="checkbox" :id="code" :name="code" v-model="addon.value">
                            {{addon.name}}
                        </label>
                        <input type="number" step="1" min="0" :code="code + '_quantity'" placeholder="Quantity"
                               v-model="addon.quantity" v-if="addon.value">
                    </template>
                </div>
            </div>

            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" rows="3" v-model="notes"></textarea>

            <hr>
            <h2>Finalize</h2>
            <div class="grid">
                <article style="margin-top: 0; margin-bottom: 20px;">
                    <h6>Time</h6> <!-- todo: format -->
                    <template v-if="date && time">
                        <div>{{date}}</div>
                        <div>{{time}}</div>
                    </template>
                </article>
                <article style="margin-top: 0;  margin-bottom: 20px;">
                    <h6>Location</h6>
                    <div>{{address}}</div>
                </article>
                <article style="margin-top: 0;  margin-bottom: 20px;">
                    <h6>Specifications</h6>
                    <template v-if="yards && psi">
                        <div>{{yards}} yards</div>
                        <div>{{deliverySpacing}} min. delivery spacing</div>
                        <div>{{psi}} PSI</div>
                        <div>Add: Fiber</div>
                    </template>
                </article>
            </div>

            <article style="margin-top: 0">
                <h6>Addons and Notes</h6>
                <div class="grid">
                    <div> <!-- todo: check if any addon is checked -->
                        <label>Mix Addons:</label>
                        <ul>
                            <li v-for="addon in mixAddons" v-if="addon.value">
                                {{addon.name}}
                            </li>
                        </ul>
                    </div>
                    <div> <!-- todo: check if any addon is checked -->
                        <label>Mix Addons:</label>
                        <ul>
                            <li v-for="addon in truckAddons" v-if="addon.value && addon.quantity">
                                {{addon.quantity}}x {{addon.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <template v-if="notes">
                    <label>Notes:</label>
                    <div>{{notes}}</div>
                </template>
            </article>
            <button class="outline">
                Place Order
            </button>
        </form>

    </section>


</main><!-- ./ Main -->

<!-- Footer -->
<footer class="container">
    <small>Built with <a href="https://picocss.com">Pico</a></small>
</footer><!-- ./ Footer -->

<!-- Minimal theme switcher -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC91G9WxAvCFcB2GiSP67c0ZiHEHxIdQZU&callback=initMap&v=weekly"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script>
    new Vue({
        el: '#orderPage',
        data: {
            date: new Date().toISOString().split('T')[0],
            time: null,

            address: null,

            yards: null,
            deliverySpacing: null,
            psi: null,
            mixAddons: {
                front: {'name': 'Front', 'value': false},
                hotWater: {'name': 'Hot Water', 'value': false},
                airEntraining: {'name': 'Air Entraining', 'value': false},
                calcium: {'name': 'Calcium', 'value': false}, // todo: needs %
                nonChlorideAccelerator: {'name': 'Non Chloride Accelerator', 'value': false},
            },
            truckAddons: {
                poly: {'name': 'Poly', 'value': false, 'quantity': null},
                sealer: {'name': 'Sealer', 'value': false, 'quantity': null},
                expansionJoint: {'name': 'Expansion Joint', 'value': false, 'quantity': null},
                keywayAndStakes: {'name': 'Keyway and Stakes', 'value': false, 'quantity': null},
                rebar3: {'name': 'Rebar #3', 'value': false, 'quantity': null},
                rebar4: {'name': 'Rebar #4', 'value': false, 'quantity': null}
            },
            notes: null
        },
    })

    function initMap() {
        const myLatlng = {lat: 35.882872814069735, lng: -80.36078646658241};
        const map = new google.maps.Map(document.getElementById("map"), {
            center: myLatlng,
            zoom: 15,
            styles: [
                {elementType: "geometry", stylers: [{color: "#242f3e"}]},
                {elementType: "labels.text.stroke", stylers: [{color: "#242f3e"}]},
                {elementType: "labels.text.fill", stylers: [{color: "#746855"}]},
                {
                    featureType: "administrative.locality",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#d59563"}],
                },
                {
                    featureType: "poi",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#d59563"}],
                },
                {
                    featureType: "poi.park",
                    elementType: "geometry",
                    stylers: [{color: "#263c3f"}],
                },
                {
                    featureType: "poi.park",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#6b9a76"}],
                },
                {
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [{color: "#38414e"}],
                },
                {
                    featureType: "road",
                    elementType: "geometry.stroke",
                    stylers: [{color: "#212a37"}],
                },
                {
                    featureType: "road",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#9ca5b3"}],
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry",
                    stylers: [{color: "#746855"}],
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.stroke",
                    stylers: [{color: "#1f2835"}],
                },
                {
                    featureType: "road.highway",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#f3d19c"}],
                },
                {
                    featureType: "transit",
                    elementType: "geometry",
                    stylers: [{color: "#2f3948"}],
                },
                {
                    featureType: "transit.station",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#d59563"}],
                },
                {
                    featureType: "water",
                    elementType: "geometry",
                    stylers: [{color: "#11191f"}],
                },
                {
                    featureType: "water",
                    elementType: "labels.text.fill",
                    stylers: [{color: "#515c6d"}],
                },
                {
                    featureType: "water",
                    elementType: "labels.text.stroke",
                    stylers: [{color: "#17263c"}],
                },
            ],
        });
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
            content: "Click the map to get Lat/Lng!",
            position: myLatlng,
        });

        infoWindow.open(map);
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
            // Close the current InfoWindow.
            infoWindow.close();
            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({
                position: mapsMouseEvent.latLng,
            });
            infoWindow.setContent(
                JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
            );
            infoWindow.open(map);
        });
    }
</script>

</body>
<style>
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

</html>
